@{
    ViewBag.Title = Resources.GetString("general.error");
}

<h2>@Resources.GetString("TestMvcDemo.ContactUs.ErrorSending")</h2>
<div class="error-label">
    @Html.Raw(Resources.FormatString("TestMvcDemo.ContactUs.ErrorText", Html.ActionLink("Contact", "Index")))
</div>
